<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
   
    <div>
        <div class="col-sm-6">
            <div class="logo">
                <h1><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png"></a></h1>
            </div>
        </div>
        @RenderBody()
    </div>

        <!-- JS -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/main.js"></script>
</body>
</html>
