@{
    ViewData["Title"] = "Home";
}



<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-area="" asp-controller ="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller ="Home" asp-action="Detail">Detail product</a></li>
                    <li><a asp-area="" asp-controller ="Home" asp-action="Cart">Cart</a></li>
                    <li><a asp-area="" asp-controller ="Home" asp-action="Checkout">Checkout</a></li>
                    <li><a asp-area="" asp-controller ="Home" asp-action="Login">Login</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="~/img/h4-slide.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Acer <span class="primary">Nitro <strong>5</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Intel® Core™ i7-8750H</h4>
                    <a class="caption button-radius" asp-area="" asp-controller ="Home" asp-action="Detail"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/img/h4-slide2.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        MSI GE66 <span class="primary">RTX 2080S<strong> 300Hz </strong></span>
                    </h2>
                    <h4 class="caption subtitle">Core i7 10875H</h4>
                    <a class="caption button-radius" asp-area="" asp-controller ="Home" asp-action="Detail"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/img/h4-slide3.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Macbook <span class="primary">Air <strong>M1</strong></span>
                    </h2>
                    <h4 class="caption subtitle">light and thin</h4>
                    <a class="caption button-radius" asp-area="" asp-controller ="Home" asp-action="Detail"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/img/h4-slide4.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        DELL <span class="primary">VOSTRO <strong>5481</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Core i5 8265U</h4>
                    <a class="caption button-radius" asp-area="" asp-controller ="Home" asp-action="Detail"><span class="icon"></span>Shop now</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-1.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a asp-area="" asp-controller ="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Acer Nitro 5</a></h2>

                            <div class="product-carousel-price">
                                <ins>$999.00</ins> <del>$1000.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-2.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a asp-area="" asp-controller ="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Asus G703</a></h2>
                            <div class="product-carousel-price">
                                <ins>$4900.00</ins> <del>$5000.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-3.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a asp-area="" asp-controller ="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Asus Vivobook X515MA</a></h2>

                            <div class="product-carousel-price">
                                <ins>$800.00</ins> <del>$900.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-4.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a asp-area="" asp-controller ="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">Dell alienware 14</a></h2>

                            <div class="product-carousel-price">
                                <ins>$2000.00</ins> <del>$2250.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-5.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a asp-area="" asp-controller ="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">MSI GL75 Leopard</a></h2>

                            <div class="product-carousel-price">
                                <ins>$900.00</ins> <del>$1155.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-6.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a asp-area="" asp-controller ="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="">MSI GT83</a></h2>

                            <div class="product-carousel-price">
                                <ins>$800.00</ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="~/img/brand1.png" alt="">
                        <img src="~/img/brand2.png" alt="">
                        <img src="~/img/brand3.png" alt="">
                        <img src="~/img/brand4.png" alt="">
                        <img src="~/img/brand5.png" alt="">
                        <img src="~/img/brand6.png" alt="">
                        <img src="~/img/brand7.png" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    <a href="" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$700.00</ins> <del>$825.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-2.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Acer Nitro 5</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$900.00</ins> <del>$999.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-3.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">MSI E66</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$2099.00</ins> <del>$2200.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-4.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell G5 15 5500</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$999.00</ins> <del>$1025.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$700.00</ins> <del>$825.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-2.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Acer Nitro 5</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$900.00</ins> <del>$999.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-3.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">MSI E66</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$2099.00</ins> <del>$2200.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-4.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell G5 15 5500</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$999.00</ins> <del>$1025.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a asp-area="" asp-controller ="Home" asp-action="Detail"><img src="~/img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$700.00</ins> <del>$825.00</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->
