@{
    ViewData["Title"] = "Cart";
}
@*<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Detail">Chi tiết sản phẩm</a></li>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Cart">Giỏ hàng</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Checkout">Thanh toán</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Login">Đăng nhập</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                    <li>
                        <input type="text" name="search" style="padding:20px" placeholder="Tỉm sản phẩm..." />
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>*@ <!-- End mainmenu area -->

<!--<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>--> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm sản phẩm</h2>
                    <form action="#">
                        <input type="text" placeholder="Tìm sản phẩm...">
                        <input type="submit" value="Tìm">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm tương tự</h2>
                    <div class="thubmnail-recent">
                        <img src="~/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Từ khóa tương tự</h2>
                    <ul>
                        <li><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></li>
                        <li><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></li>
                        <li><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></li>
                        <li><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></li>
                        <li><a asp-area="" asp-controller ="Home" asp-action="Detail">Dell Vostro</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">Hình ảnh sản phẩm</th>
                                        <th class="product-name">Tên sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Chất lượng</th>
                                        <th class="product-subtotal">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="product-remove">
                                            <a title="Remove this item" class="remove" href="#">×</a>
                                        </td>

                                        <td class="product-thumbnail">
                                            <a asp-area="" asp-controller ="Home" asp-action="Detail"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="~/img/product-thumb-2.jpg"></a>
                                        </td>

                                        <td class="product-name">
                                            <a asp-area="" asp-controller ="Home" asp-action="Detail">Acer nitro 5</a>
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">1500$</span>
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">
                                                <input type="button" class="minus" value="-">
                                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                                                <input type="button" class="plus" value="+">
                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">1500$</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="actions" colspan="6">
                                            <div class="coupon">
                                                <label for="coupon_code">Khuyến mãi:</label>
                                                <input type="text" placeholder="Mã khuyến mãi" value="" id="coupon_code" class="input-text" name="coupon_code">
                                                <input type="submit" value="Xác nhận mã" name="apply_coupon" class="button">
                                            </div>
                                            <input type="submit" value="Cập nhập giỏ" name="update_cart" class="button">
                                            <input type="submit" value="Thanh toán" name="proceed" class="checkout-button button alt wc-forward">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>

                        <div class="cart-collaterals">


                            <div class="cross-sells">
                                <h2>Có thể bạn thích...</h2>
                                <ul class="products">
                                    <li class="product">
                                        <a asp-area="" asp-controller ="Home" asp-action="Detail">
                                            <img width="325px" height="325px" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="~/img/product-2.jpg">
                                            <h3>Asus</h3>
                                            <span class="price"><span class="amount">2000$</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" asp-area="" asp-controller ="Home" asp-action="Detail">Xem chi tiết</a>
                                    </li>

                                    <li class="product">
                                        <a asp-area="" asp-controller ="Home" asp-action="Detail">
                                            <img width="325px" height="325px" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="~/img/product-4.jpg">
                                            <h3>Alien</h3>
                                            <span class="price"><span class="amount">2000$</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" asp-area="" asp-controller ="Home" asp-action="Detail">Xem chi tiết</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="cart_totals ">
                                <h2>Cart Totals</h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tổng giá trị giỏ hàng</th>
                                            <td><span class="amount">1500$</span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Cách thức vận chuyển</th>
                                            <td>Giao hàng miễn phí</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Tổng đơn hàng</th>
                                            <td><strong><span class="amount">1500$</span></strong> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            @*<form method="post" action="#" class="shipping_calculator">
                                <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap" aria-expanded="false" aria-controls="calcalute-shipping-wrap">Chọn địa điểm nhận hàng</a></h2>

                                <section id="calcalute-shipping-wrap" class="shipping-calculator-form collapse">

                                    <p class="form-row form-row-wide">
                                        <select rel="calc_shipping_state" class="country_to_state" id="calc_shipping_country" name="calc_shipping_country">
                                            <option selected="selected" value="">Chọn tỉnh thành</option>
                                            <option value="AG">An Giang</option>
                                            <option value="BR">Bà Rịa – Vũng Tàu</option>
                                            <option value="BG">Bắc Giang</option>
                                            <option value="BK">Bắc Kạn</option>
                                            <option value="BL">Bạc Liêu</option>
                                            <option value="BN">Bắc NinH</option>
                                            <option value="BT">Bến Tre</option>
                                            <option value="BĐ">Bình Định</option>
                                            <option value="BD">Bình Dương</option>
                                            <option value="BP">Bình Phước</option>
                                            <option value="BTh">Bình Thuận</option>
                                            <option value="CM">Cà Mau</option>
                                            <option value="CT">Cần Thơ</option>
                                            <option value="CB">Cao Bằng</option>
                                            <option value="ĐN">Đà Nẵng</option>
                                            <option value="ĐL">Đắk Lắk</option>
                                            <option value="ĐN">Đắk Nông</option>
                                            <option value="ĐB">Điện Biên</option>
                                            <option value="ĐNa">Đồng Nai</option>
                                            <option value="ĐT">Đồng Tháp</option>
                                            <option value="GL">Gia Lai</option>
                                            <option value="HG">Hà Giang</option>
                                            <option value="HNa">Hà Nam</option>
                                            <option value="HN">Hà Nội</option>
                                            <option value="HT">Hà Tĩnh</option>
                                            <option value="HD">Hải Dương</option>
                                            <option value="HP">Hải Phòng</option>
                                            <option value="HG">Hậu Giang</option>
                                            <option value="HB">Hòa Bình</option>
                                            <option value="HY">Hưng Yên</option>
                                            <option value="KH">Khánh Hòa</option>
                                            <option value="KG">Kiên Giang</option>
                                            <option value="KT">Kon Tum</option>
                                            <option value="LC">Lai Châu</option>
                                            <option value="LĐ">Lâm Đồng</option>
                                            <option value="LS">Lạng Sơn</option>
                                            <option value="LC">Lào Cai</option>
                                            <option value="LA">Long An</option>
                                            <option value="NĐ">Nam Định</option>
                                            <option value="NA">Nghệ An</option>
                                            <option value="NB">Ninh Bình</option>
                                            <option value="NT">Ninh Thuận</option>
                                            <option value="PT">Phú Thọ</option>
                                            <option value="PY">Phú Yên</option>
                                            <option value="QB">Quảng Bình</option>
                                            <option value="QN">Quảng Nam</option>
                                            <option value="QNg">Quảng Ngãi</option>
                                            <option value="QN">Quảng Ninh</option>
                                            <option value="QT">Quảng Trị</option>
                                            <option value="ST">Sóc Trăng</option>
                                            <option value="SL">Sơn La</option>
                                            <option value="TN">Tây Ninh</option>
                                            <option value="TB">Thái Bình</option>
                                            <option value="TNg">Thái Nguyên</option>
                                            <option value="TH">Thanh Hóa</option>
                                            <option value="TTH">Thừa Thiên Huế</option>
                                            <option value="TG">Tiền Giang</option>
                                            <option   value="HCM">TP Hồ Chí Minh</option>
                                            <option value="TV">Trà Vinh</option>
                                            <option value="TQ">Tuyên Quang</option>
                                            <option value="VL">Vĩnh Long</option>
                                            <option value="VP">Vĩnh Phúc</option>
                                            <option value="YB">Yên bái</option>
                                        </select>
                                    </p>

                                    <p class="form-row form-row-wide"><input type="text" id="calc_shipping_state" name="calc_shipping_state" placeholder="Quận/ huyện" value="" class="input-text"> </p>

                                    <p class="form-row form-row-wide"><input type="text" id="calc_shipping_postcode" name="calc_shipping_postcode" placeholder="Xã/ Làng" value="" class="input-text"></p>


                                    <p><button class="button" value="1" name="calc_shipping" type="submit">Cập nhập đơn hàng</button></p>

                                </section>
                            </form>*@


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

