@{
    ViewData["Title"] = "Contact";
}
@*<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Detail">Chi tiết sản phẩm</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Cart">Giỏ hàng</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Checkout">Thanh toán</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Login">Đăng nhập</a></li>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                    <li>
                        <input type="text" name="search" style="padding:20px" placeholder="Tỉm sản phẩm..." />
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-search"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>*@ <!-- End mainmenu area -->

<!--<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Liên hệ</h2>
                </div>
            </div>
        </div>
    </div>
</div>--> <!-- End Page title area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>Thông tin cửa hàng</h3>
                <p>....</p>
            </div>
            <div class="col-md-6">
                <h3>Bản đồ</h3>
                <div class="map" id="mapshop">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.517758056715!2d106.69916291462093!3d10.771600262228635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f40a3b49e59%3A0xa1bd14e483a602db!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEvhu7kgdGh14bqtdCBDYW8gVGjhuq9uZw!5e0!3m2!1svi!2s!4v1621249320031!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>