@{
    ViewData["Title"] = "ListProduct";
}

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <h2>Kết quả cho ... </h2>
            <div class="row" style="background-color:white">
                <div class="col-md-3">
                    <div class="latest-product">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-thumb-1.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                </div>
                            </div>

                            <h2><a asp-area="" asp-controller="Home" asp-action="Detail">Acer Nitro 5</a></h2>

                            <div class="product-carousel-price">
                                <ins>$999.00</ins> <del>$1000.00</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="latest-product">

                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/img/product-thumb-1.jpg" alt="">
                                <div class="product-hover">
                                    <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Detail" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                </div>
                            </div>

                            <h2><a asp-area="" asp-controller="Home" asp-action="Detail">Acer Nitro 5</a></h2>

                            <div class="product-carousel-price">
                                <ins>$999.00</ins> <del>$1000.00</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="font-size:18px;text-align:right;padding:20px;margin-top:20px">
                <button class="pagebtn"><a href="" title="Trang đầu" class="fist"><i class="fa fa-angle-double-left"></i></a></button>
                <button class="pagebtn"><a href="" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a></button>
                <button class="pagebtn"><a href="" title="Trang 1" class="choose">1</a></button>
                <button class="pagebtn"><a href="" title="Trang 2">2</a></button>
                <button class="pagebtn"><a href="" title="Trang 3">3</a></button>
                <button class="pagebtn"><a href="" title="Trang sau" class="next"><i class="fa fa-angle-right"></i></a></button>
                <button class="pagebtn"><a href="" title="Trang cuối" class="last"><i class="fa fa-angle-double-right"></i></a></button>
</div>
        </div>
    </div> <!-- End main content area -->
