@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container-1">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Đăng kí</h2>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-accounts-outline"></i></label>
                            <input type="text" name="name" id="name" placeholder="Họ và tên đệm" />
                        </div>
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Tên" />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-my-location"></i></label>
                            <input type="email" name="email" id="email" placeholder="Tỉnh" />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-my-location"></i></label>
                            <input type="email" name="email" id="email" placeholder="Quận / huyện" />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-my-location"></i></label>
                            <input type="email" name="email" id="email" placeholder="Xã / làng" />
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-account-box-phone"></i></label>
                            <input type="email" name="email" id="email" placeholder="Số điện thoại" />
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="pass" id="pass" placeholder="Mật khẩu" />
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Nhập lại mật khẩu" />
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Tôi đồng ý với các <a href="#" class="term-service">điều khoản của nhóm phát triển</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Đăng kí" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="~/img/signup-image.jpg" alt="sing up image"></figure>
                    <a asp-area="" asp-controller="Home" asp-action="Login" class="signup-image-link">Tôi đã có tài khoản</a>
                </div>
            </div>
        </div>
    </section>
</div>

